:root {
  --coder-green:rgb(40, 214, 13);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: var(--coder-green);
  line-height: 1.6;
  margin: 0px 30px;
}

section > h2 {
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  transform-style: preserve-3d;
  background-color: black;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--coder-green);
}

main {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0 auto;
  padding: 30px 0px;
  position: relative;
  border-radius: 200px;
}

.banner__container {
  transform-style: preserve-3d;
  animation: rotate 12s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
section {
  perspective: 500px;
  perspective-origin: 50% calc(50% - 120px);
}

.panel:nth-child(1) {
  --left: 0px;
  --hue: 0;
  --angle: 0deg;
  --index:0;
  --delay:0s;
}

.panel:nth-child(2) {
  --left: -50px;
  --hue: 15;
  --angle: 15deg;
  --index:3;
  --delay:2s;
}

.panel:nth-child(3) {
  --left: -100px;
  --hue: 30;
  --angle: 30deg;
  --index:6;
  --delay:4s;
}

.panel:nth-child(4) {
  --left: -150px;
  --hue: 45;
  --angle: 45deg;
  --index:9;
  --delay:6s;
}

.panel:nth-child(5) {
  --left: -200px;
  --hue: 60;
  --angle: 60deg;
  --index:12;
  --delay:8s;
}

.panel:nth-child(6) {
  --left: -250px;
  --hue: 75;
  --angle: 75deg;
  --index:15;
  --delay:10s;
}

.panel:nth-child(7) {
  --left: -300px;
  --hue: 90;
  --angle: 90deg;
  --index:18;
  --delay:12s;
}

.panel:nth-child(8) {
  --left: -350px;
  --hue: 105;
  --angle: 105deg;
  --index:21;
  --delay:14s;
}

.panel:nth-child(9) {
  --left: -400px;
  --hue: 120;
  --angle: 120deg;
  --index:24;
  --delay:16s;
}

.panel:nth-child(10) {
  --left: -450px;
  --hue: 135;
  --angle: 135deg;
  --index:27;
  --delay:18s;
}

.panel:nth-child(11) {
  --left: -500px;
  --hue: 150;
  --angle: 150deg;
  --index:30;
  --delay:20s;
}

.panel:nth-child(12) {
  --left: -550px;
  --hue: 165;
  --angle: 165deg;
  --index:33;
  --delay:22s;
}

.panel:nth-child(13) {
  --left: -600px;
  --hue: 180;
  --angle: 180deg;
  --index:36;
  --delay:24s;
}

.panel:nth-child(14) {
  --left: -650px;
  --hue: 195;
  --angle: 195deg;
  --index:39;
  --delay:26s;
}

.panel:nth-child(15) {
  --left: -700px;
  --hue: 210;
  --angle: 210deg;
  --index:42;
  --delay:28s;
}

.panel:nth-child(16) {
  --left: -750px;
  --hue: 225;
  --angle: 225deg;
  --index:45;
  --delay:30s;
}

.panel:nth-child(17) {
  --left: -800px;
  --hue: 240;
  --angle: 240deg;
  --index:48;
  --delay:32s;
}

.panel:nth-child(18) {
  --left: -850px;
  --hue: 255;
  --angle: 255deg;
  --index:51;
  --delay:34s;
}

.panel:nth-child(19) {
  --left: -900px;
  --hue: 270;
  --angle: 270deg;
  --index:54;
  --delay:36s;
}

.panel:nth-child(20) {
  --left: -950px;
  --hue: 285;
  --angle: 285deg;
  --index:57;
  --delay:38s;
}

.panel:nth-child(21) {
  --left: -1000px;
  --hue: 300;
  --angle: 300deg;
  --index:60;
  --delay:40s;
}

.panel:nth-child(22) {
  --left: -1050px;
  --hue: 315;
  --angle: 315deg;
  --index:63;
  --delay:42s;
}

.panel:nth-child(23) {
  --left: -1100px;
  --hue: 330;
  --angle: 330deg;
  --index:66;
  --delay:44s;
}

.panel:nth-child(24) {
  --left: -1150px;
  --hue: 345;
  --angle: 345deg;
  --index:69;
  --delay:46s;
}

.panel {
  width: 50px;
  height: 100px;
  transform: translate(20%, 50%) rotateY(var(--angle)) translateZ(190px);
  position: absolute;
  overflow: hidden;
  color: hsl(var(--hue), 60%, 75%);
  left: 170px;
  bottom: 20px;
}

.panel::before {
  content: "Eat, Sleep, Hack, Repeat";
  font-size: 50px;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  left: var(--left);
}

.scene {
  transform-style: preserve-3d;
  position: relative;
}

.tt {
  color: lightpink;
}/*# sourceMappingURL=style.css.map */